<div class="center jumbotron">
  <h1>Welcome to Our Family Recipes</h1>
  <h2>Browse and try some of our family's favorite recipies</h2>
  <%= link_to "Sign-up Now", register_path, class: "btn btn-lg btn-success" %>
</div>
<div class = "row">
  <div class="col-lg-4">
    <h3 class="midrow">
      View recipes as guest user
    </h3>
    <h2 class="left">Browse recipes as a guest and sign-up latter</h2>
    <p><%= link_to "Browse Listings", recipes_path, class: "btn btn-warning btn-small" %></p>
  </div>
  <div class="col-lg-4">
    <h3 class="midrow">
      Sign into your account
    </h3>
    <h2 class="left">Browse, create and edit your recipies</h2>
    <p><%= link_to "Login", login_path, class: "btn btn-warning btn-small" %></p>
  </div>
  <div class="col-lg-4">
    <h3 class="midrow">
      View recipes as guest user
    </h3>
    <h2 class="left">Browse recipes as a guest and sign-up latter</h2>
    <p><%= link_to "Browse Listings", "", class: "btn btn-warning btn-small" %></p>
  </div>
</div>